# app 2 SFU server video call 
LIVEKIT_API_KEY="devkey"
LIVEKIT_API_SECRET="secret"

# app 3 town
NEXT_PUBLIC_SOCKET_URL="http://localhost:3000"
NEXT_PUBLIC_SOCKET_SFU_URL="http://localhost:8000"


# sudo docker run -e POSTGRES_PASSWORD=lemon -v lemontown:/var/lib/postgresql/data -p 5432:5432 -d postgres
#postgresql://postgres:lemon@localhost:5432/postgres

# <------------aws cloude----------->
AWS_BUCKET_NAME='lemon-ebooks'
AWS_BUCKET_REGION=''
AWS_ACCESS_KEY=''
AWS_SECRET_ACCESS_KEY=''

# common in all apps
JWT_SECRETE="q9pc8by3rqo8webyvfo9q8w3yvro92738bryo9ewy"
DATABASE_URL="postgresql://postgres:lemon@localhost:5432/postgres"